  <div class="footer-container">
    <a class="footer-container-item footer-brand">Trade</a>
    <a class="footer-container-item footer-brand">Tjark</a>
    <ul class="footer-container-item footer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <li class="footer-item">© 2022 Tjarkii GmbH</li>
      <li class="footer-item"><a class="footer-link" routerLink="/suche">CONTACT</a></li>
      <li class="footer-item"><a class="footer-link" routerLink="/suche">PRIVACY</a></li>
      <li class="footer-item"><a class="footer-link" routerLink="/empfehlungen">TERMS</a></li>
    </ul>
  </div>
